* {
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 139, 226);
    color: black;
    font-family: Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}


.navbar{
    background-color: black;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}

a{
    color: white;
    text-decoration: none;
}

main{
    margin-top: 200px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

